body{
    background-color: rgba(34,34,34,255);
    color: black
}
.headtitle{
    display: flex;
    font-size: 60px;
    justify-content: center;
    animation: blinker 5s linear infinite;
    color: white;
}

    @keyframes blinker {
    50% {
    opacity: 0;
  }
    
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vw;
    width: 100vw;
    
    
}
.Header{
    grid-column-start: 1;
    grid-column-end: 4;
    height:20vw;
    margin-top:2vw;
    margin-left: 2vw;
    margin-right: 2vw;
   
}


.Menu{
    grid-column-start:  1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height:70vw;
    margin-left: 2vw;
    width: 30vw;
    background-color: rgba(211,211,211,255);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right:1px solid black;
    border-left: 1px solid black;
}
.Main{
    grid-column-start:  3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    height:70vw;
    margin-right: 2vw;
    width: 66vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right:1px solid black;
    background-image: url(./Bakcground.jpg);
}
.Footer{
    grid-column-start:  1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    height:7.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height:69.5vw;
    
}

.Filtermenu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 200px;
   text-decoration: underline;
}

.Brand{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height:40px;
    margin-top: -10vw;
   
    
}
.Apple{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 40px;
    margin-top: -10vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
    
}
.Samsung{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 10px;
    height:40px;
    margin-top: -10vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Google{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 10px;
    height:40px;
    margin-top: -10vw;
    width: 60px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Nokia{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    height:40px;
    margin-top: -10vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Motorola{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    margin-left: 10px;
    height:40px;
    margin-top: -10vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}

.Memory{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    height:40px;
    margin-top: -15vw;
    
}

.m4MB{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -24.5vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
    
    
}
.m32GB{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    width: 50px;
    margin-top: -24.5vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.m64GB{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -24.5vw;
    width: 50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
    
}
.m128GB{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    height:40px;
    margin-top: -15vw;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}

.m256GB{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    height:40px;
    margin-top: -15vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.m512GB{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
    height:40px;
    margin-top: -15vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
    
}
.Color{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    
}
.White{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
    
}
.Green{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Black{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    margin-left:-20px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Gold{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    margin-left: 35px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Silver{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Gray{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -18vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Red{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -15vw;
    width:45.5px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Blue{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -15vw;
    width:50px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Pink{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    height:40px;
    margin-top: -15vw;
    width:40px;
    margin-left:-20px;
    border: 1px  solid black;
    border-radius: 5px;
    text-align: center;
}
.Budget{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
    height:20px;
    margin-top: -15vw;
   
    
    
}
#budget{
    margin-left: 90px;
    
}

.Submit{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 6;
    height:20px;
    margin-top: -19vw;
}

#Submit{
    width: 80px;
    
}
#contact{
    display: flex;
    justify-content: center;
}

#rangeValue{
    height:40px;
    width:50px;
    margin-left: 19.5vw;
}
.card{
    width: 100px;
    height: 230px;
    background: #222222;
    color: white;
    text-align: center;
    border: 5px black solid;
    border-radius: 10px;
    font-size: smaller;
    margin:5px;
    
    -webkit-box-shadow: 0px 4px 22px 2px rgba(0,0,0,0.4);
    -webkit-transition: all .3s ease-in-out;
    cursor: pointer;

}
.card:hover{
    -webkit-transform:scale(.95);
    background-position: bottom;
}

.imagines{
    width: 40px;
    height: 80px;
}
.Main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#myVideo{
    height: 42.8vh;
    max-height: 315px;
    width: 96.2vw;
    margin-top: -15vw;
    object-fit: cover;
     }

.Footer{color: white;}