body{
    background-image: url(Bakcground.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vw;
    opacity: 1;
    color: white;
}
.Header{
  
    
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px black solid;
    height: 100vw;
    width: 100vw;
    
    
}
.Header{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px darkgreen solid;
    height:20vw;
    margin-top:2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    
    
}
.Menu{
    grid-column-start:  1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px red solid;
    height:70vw;
    margin-left: 2vw;
    width: 30vw;
    background-color: black;
}
.Main{
    grid-column-start:  3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px pink solid;
    height:70vw;
    margin-right: 2vw;
    width: 66vw;
}
.Footer{
    grid-column-start:  1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    border:2px yellow solid;
    height:7.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border:5px purple solid;
    height:69.5vw;
    
}

.Filtermenu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 200px;
    
}

.Brand{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px black solid;
    height:40px;
    margin-top: -10vw;
}
.Apple{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px black solid;
    height:40px;
    margin-top: -10vw;
    
}
.Samsung{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px black solid;
    margin-left: 10px;
    height:40px;
    margin-top: -10vw;
}
.Google{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px black solid;
    margin-left: 10px;
    height:40px;
    margin-top: -10vw;
    width: 60px;
}
.Nokia{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    border:2px black solid;
    height:40px;
    margin-top: -10vw;
}
.Motorola{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    border:2px black solid;
    margin-left: 10px;
    height:40px;
    margin-top: -10vw;
}

.Memory{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
}

.m4MB{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -25vw;
    
    
}
.m32GB{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    width: 35px;
    
    margin-top: -25vw;
}
.m64GB{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -25vw;
    width: 40px;
}
.m128GB{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
}

.m256GB{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
    width:50px;
}
.m512GB{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
    width:50px;
}
.Color{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
}
.White{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
}
.Green{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
}
.Black{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
    margin-left:-20px
}
.Gold{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
    margin-left: 35px;
}
.Silver{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
}
.Gray{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -18vw;
    width:50px;
}
.Red{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
    width:40px;
}
.Blue{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
    width:50px;
}
.Pink{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    border:2px black solid;
    height:40px;
    margin-top: -15vw;
    width:40px;
    margin-left:-20px;
}
.Budget{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
    border:2px black solid;
    height:20px;
    margin-top: -15vw;
    
    
}
#budget{
    margin-left: 90px;
}

.Submit{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 6;
    border:2px black solid;
    height:20px;
    margin-top: -19vw;
}

#Submit{
    width: 80px;
    
}