body{
    background-color: rgba(34,34,34,255);
    color: black
}
.headtitle{
    display: flex;
    font-size: 60px;
    justify-content: center;
    animation: blinker 5s linear infinite;
    color: white;
}

    @keyframes blinker {
    50% {
    opacity: 0;
  }
    
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vw;
    width: 100vw;
    
    
}
.Header{
    grid-column-start: 1;
    grid-column-end: 4;
    height:20vw;
    margin-top:2vw;
    margin-left: 2vw;
    margin-right: 2vw;
   
}


.Menu{
    grid-column-start:  1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height:84vw;
    margin-left: 2vw;
    width: 19vw;
    background-color: rgba(211,211,211,255);
    border-right: 1px solid gray;
}
.Main{
    grid-column-start:  3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    height:84vw;
    margin-right: 2vw;
    width: 77vw;
    background-image: url(./Bakcground.jpg);
}
.Footer{
    grid-column-start:  1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    height:7.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}


.Filtermenu{
   display: flex;
   justify-content: flex-start;
   padding-bottom: 10%;
   font-style: italic;
   padding-left: 1%;
   
}

.Brand{
  
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   padding-top: 10%;
   font-style: italic;
   padding-left: 3%;
   
    
}
.brands1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    
}

.brands2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    
    
}


.Memory{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 10%;
    font-style: italic;
    padding-left: 3%;
}

.memory1{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
     
}

.memory2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}


.Color{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10%;
    font-style: italic;
    padding-left: 3%;
}
.color1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    
}

.color2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.color3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.Budget{
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 80%;
padding-top: 10%;
padding-right: 5%;
padding-left: 15%;
}
   
#rangeValue{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    
}

.Submit{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

#Submit{
    width: 50%;
    
}
#contact{
    display: flex;
    justify-content: center;
}

.card{
    width: 100px;
    height: 230px;
    background: #222222;
    color: white;
    text-align: center;
    border: 5px black solid;
    border-radius: 10px;
    font-size: smaller;
    margin:5px;
    
    -webkit-box-shadow: 0px 4px 22px 2px rgba(0,0,0,0.4);
    -webkit-transition: all .3s ease-in-out;
    cursor: pointer;

}
.card:hover{
    -webkit-transform:scale(.95);
    background-position: bottom;
}

.imagines{
    width: 40px;
    height: 80px;
}
.Main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.Footer{color: white;}